* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.main-footer {
    padding: 150px 0 0;
    background: linear-gradient(-20deg, #3f5494, #08c7a5);
}
.container {
    display: flex;
    width: 1200px;
    margin: auto;
}

.footer-item {
    margin: 0 20px;
    width: 0;
    flex-grow: 1;
    h4 {
        font-size: 24px;
        color: #fff;
        border-bottom: 1px dotted #fff;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
    }
    nav {
        display: flex;
        flex-direction: column;
        a {
            color: #fff;
            line-height: 1.4;
            text-decoration: none;
            padding: 5px 0;
        }
    }
}

.footer-subs {
    display: flex;
    flex-direction: column;
    form {
    display: flex;
    margin: auto 0;
    }
    input[type="text"] {
        border: none;
        padding: 5px 10px;
        width: 0;
        flex-grow: 1;
    }
    input[type="submit"] {
        border: none;
        padding: 5px 10px;
        color: #70f6df;
        background-color: #3e5293;
    }
}
.copyright {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    padding: 10px 0;
    background-color: #3e5293;
    color: #70f6df;
}