* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner {
    width: 100%;
    height: 400px;
    background-color: #ccc;
    background: linear-gradient(115deg, #7bf 50%, transparent 50%),
                url(https://fakeimg.pl/1200x400/eee/000) right center; 
                /*此範例為多重背景*/
}

.container {
    width: 1200px;
    margin: auto;
    height: 100%;
}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    h1 {
        font-size: 60px;
        border-bottom: 1px solid #333;
        span {
            display: block;
            font-size: 40px;
        }
    }

    
}