* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #edece1;
}

.wrap {
  width: 960px;
  margin: auto;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.timeline li {
  width: 50%;
  position: relative;
  padding-bottom: 50px;
}

.timeline li:nth-child(odd) {
  padding-right: 100px;
}

.timeline li:nth-child(even) {
  padding-left: 100px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.timeline li:nth-child(odd)::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ccc;
  z-index: -1;
}

.timeline li::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.timeline li:nth-child(odd)::after {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.timeline li:nth-child(even)::after {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline li:nth-child(odd) h2::after {
  right: 0;
}

.timeline li:nth-child(even) h2::after {
  left: 0;
}

.timeline a {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-box-shadow: 3px 3px 5px #888;
          box-shadow: 3px 3px 5px #888;
}

.timeline a:hover {
  background-color: #6fa5f6;
}

.timeline a:hover h2, .timeline a:hover p {
  color: #fff;
}

.timeline h2 {
  color: #333;
  font-weight: 700;
}

.timeline h2::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  margin: auto;
}

.timeline p {
  color: #666;
  font-weight: 100;
}
