* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialogue {
  width: 500px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px #3e92cc;
          box-shadow: 0 0 10px #3e92cc;
  background-color: #f4f5f7;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.avatar {
  width: 60px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.avatar .pic {
  width: 60px;
  height: 60px;
}

.avatar img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.txt {
  padding: 16px;
  border-radius: 10px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.remote .txt {
  margin-left: 20px;
  margin-right: 80px;
  background-color: #fff;
}

.local {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.local .txt {
  margin-right: 20px;
  margin-left: 80px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  background-color: #3e92cc;
}

.remote .txt::before {
  content: '';
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 15px solid #fff;
  border-bottom: 10px solid transparent;
  top: 10px;
  left: -10px;
}

.local .txt::before {
  content: '';
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 15px solid #3e92cc;
  border-bottom: 10px solid transparent;
  top: 10px;
  right: -10px;
}
